.radioInput {
  left: -999em;
  position: absolute;
}

.colorBox {
  width: 50px;
  height: 50px;
  margin: 1px;
  background-color: #fff;
  border: 1px solid #685248;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colorProperty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color-black {
  background-color: #000;
}

.color-gray {
  background-color: #c4c4c4;
}

.color-white {
  border: 1px solid #000;
  background-color: #e5e5e5;
}

.color-brown {
  border: 1px solid #e5e5e5;
  background-color: #685248;
}

.color-blue {
  background-color: #0c0b5f;
}

.color-pink {
  background-color: #e8cee7;
}

.color-green {
  background-color: #0e4206;
}

.sizeCheckbox {
  width: 50px;
  height: 50px;
  margin: 1px;
  background-color: #e5e5e5;
  border: 1px solid #685248;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.sizeCheckbox:hover {
  background-color: #848484;
}

input[type='checkbox']:checked + .sizeCheckbox {
  background-color: #685248;
}

.likeProduct {
  background-image: url(../assets/icon/likeProduct.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 30px;
  height: 30px;
}

.likeProductFilled {
  background-image: url(../assets/icon/likeProductFilled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 30px;
  height: 30px;
}

.errorStyle {
  width: 45%;
  text-align: center;
  color: #e64848;
  font-size: 18px;
  border: 1px solid;
}
