.radioInput {
  left: -999em;
  position: absolute;
}

.colorBox {
  width: 35px;
  height: 35px;
  margin: 1px;
  background-color: #e5e5e5;
  border: 1px solid #685248;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.colorBox:hover {
  background-color: #848484;
}

.colorProperty {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-black {
  background-color: #000;
}

.color-gray {
  background-color: #c4c4c4;
}

.color-white {
  border: 1px solid #000;
  background-color: #e5e5e5;
}

.color-brown {
  border: 1px solid #e5e5e5;
  background-color: #685248;
}

.color-blue {
  background-color: #0c0b5f;
}

.color-pink {
  background-color: #e8cee7;
}

.color-green {
  background-color: #0e4206;
}

.sizeCheckbox {
  width: 35px;
  height: 35px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #685248;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.sizeCheckbox:hover {
  background-color: #848484;
}

.sizeCheckboxDisable {
  width: 35px;
  height: 35px;
  margin: 2px;
  background-color: #e6e6e6;
  border: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type='checkbox']:checked + .sizeCheckbox {
  background-color: #685248;
}

input[type='radio']:checked + .sizeCheckbox {
  background-color: #685248;
}

.styleMaterialButton {
  width: 110px;
  height: 25px;
  margin: 1px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  background-color: #e5e5e5;
  border: 1px solid #685248;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.styleMaterialButton:hover {
  background-color: #848484;
}

input[type='checkbox']:checked + .colorBox {
  background-color: #685248;
}

input[type='radio']:checked + .colorBox {
  background-color: #685248;
}

input[type='radio']:checked + .styleMaterialButton {
  background-color: #685248;
}

input[type='checkbox']:checked + .styleMaterialButton {
  background-color: #685248;
}

@media screen and (max-width: 600px) {
  .styleMaterialButton {
    width: 140px;
    height: 20px;
    font-size: 15px;
  }
}
