$light-grey-color: #c4c4c4;

//Main colors
$main-color: #685248;
$black-color: #000;
$white-color: #fff;
$main-background-color: #e5e5e5;

//Sale and Discount colors
$discount-price-color: #848484;
$sale-color: #c63d3d;

//Product colors
$pink-product-color: #e8cee7;
$green-product-color: #e8cee7;
$pink-product-color: #c63d3d;
$blue-product-color: #0c0b5f;
