@import './colors.module.scss';
@import './fonts.module.scss';

.background {
  background-color: $main-color;
  width: 100%;
  height: 400px;
}

.title {
  @extend %title-fonts;
  cursor: pointer;
}
