.blackHighHeel {
  background-image: url(../assets/img/home/blackHigh-Heel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 285px;
  height: 525px;
}

.whiteWomanShoe {
  background-image: url(../assets/img/home/whiteWomanShoe.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 285px;
  height: 525px;
}

.lightSneakers {
  background-image: url(../assets/img/home/lightSneakers.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 285px;
  height: 525px;
}

.timeLogoBrown {
  background-image: url(../assets/img/home/timeLogoBrown.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 285px;
  height: 525px;
}

.whiteNike {
  background-image: url(../assets/img/home/whiteNike.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  width: 285px;
  height: 525px;
}
