@import './colors.module.scss';

.radioInput {
  left: -999em;
  position: absolute;
}

.colorBox {
  width: 50px;
  height: 50px;
  margin: 1px;
  background-color: $white-color;
  border: 1px solid $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorProperty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color-black {
  background-color: $black-color;
}

.color-gray {
  background-color: $light-grey-color;
}

.color-white {
  border: 1px solid $black-color;
  background-color: $main-background-color;
}

.color-brown {
  border: 1px solid $main-background-color;
  background-color: $main-color;
}

.color-blue {
  background-color: $blue-product-color;
}

.color-pink {
  background-color: $pink-product-color;
}

.color-green {
  background-color: $green-product-color;
}

.sizeCheckbox {
  width: 50px;
  height: 50px;
  margin: 1px;
  background-color: $main-background-color;
  border: 1px solid $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $discount-price-color;
  }
}

input[type='checkbox']:checked + .sizeCheckbox {
  background-color: $main-color;
}

.likeProduct {
  background-image: url(../assets/icon/likeProduct.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 30px;
  height: 30px;
}

.likeProductFilled {
  background-image: url(../assets/icon/likeProductFilled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 30px;
  height: 30px;
}

.errorStyle {
  width: 45%;
  text-align: center;
  color: #e64848;
  font-size: 18px;
  border: 1px solid;
}
